<% layout("/layouts/boilerplate.ejs") %>
    <h3>All Listings</h3>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3">
        <% for(let listing of allListings){ %>
            <a href="/listings/<%=listing._id%>" class="listing-link">
                <div class="card col listing-card">
                    <img 
                        src="<%=listing.image%>" 
                        class="card-img-top" 
                        alt="listing_img" 
                        style="height: 22rem;"
                    >
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b><h5><%=listing.title%></h5></b>
                            <!-- <%=listing.description%> <br> -->
                            <b>&#8377; <%= listing.price.toLocaleString("en-IN") %></b> /night
                        </p>
                    </div>
                </div>
            </a>
            
        <% } %>
    </div>

